<div class="partners-grid">
  <!-- Row 1 -->
  <div class="partners-logo">
    <a href="https://sites.globalhealth.duke.edu/panlab/">
      <img src="assets/Logo/logo1.png" alt="Partner 1">
    </a>
  </div>
  <div class="partners-logo">
    <a href="https://www.usfq.edu.ec/en/research-institutes/instituto-de-geografia">
      <img src="assets/Logo/logo2.png" alt="Partner 2">
    </a>
  </div>
  <div class="partners-logo">
    <a href="https://investigacion.cayetano.edu.pe/catalogo/saludintegral-emerge/">
      <img src="assets/Logo/logo3.png" alt="Partner 3">
    </a>
  </div>
  <div class="partners-logo">
    <a href="https://pages.jh.edu/bzaitch1/">
      <img src="assets/Logo/logo4.png" alt="Partner 4">
    </a>
  </div>
  <div class="partners-logo">
    <a href="https://cedeplar.ufmg.br">
      <img src="assets/Logo/logo5.png" alt="Partner 5">
    </a>
  </div>
  <!-- Row 2 -->
  <div class="partners-logo">
    <a href="https://sph.tulane.edu/tulane-health-office-latin-america-hola">
      <img src="assets/Logo/logo6.png" alt="Partner 6">
    </a>
  </div>
  <div class="partners-logo">
    <a href="https://www.med.unc.edu/medicine/infdis/ideel/">
      <img src="assets/Logo/logo7.png" alt="Partner 7">
    </a>
  </div>
  <div class="partners-logo">
    <a href="https://iai.int/en/post/detail/Anna-Stewart-Ibarra">
      <img src="assets/Logo/logo8.png" alt="Partner 8">
    </a>
  </div>
  <div class="partners-logo">
    <a href="https://www.albany.edu/cihs/faculty/beth-j-feingold">
      <img src="assets/Logo/logo9.png" alt="Partner 9">
    </a>
  </div>
  <div class="partners-logo">
    <a href="https://indicasat.org.pa/centro-de-biodiversidad-y-descubrimiento-de-drogas/">
      <img src="assets/Logo/logo10.png" alt="Partner 10">
    </a>
  </div>
</div>
